/* Add custom styling by copying code from the other stylesheet (don't change in the original) */
.aboutMine {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.aboutMine h2 {
  color: #1F77D0;
}

.aboutMine ul {
  list-style-type: none;
}

.blogMine {
  background: #F3EFE0;
}

.blogMine h2 {
  color: #1F77D0;
  text-align: center;
}

.centerMine h1 {
  font-size: 150px;
  text-align: center;
}

.centerMine h2 {
  text-align: center;
}

.contactMine {
 /* background: #B6D9EF;*/
  background: #F3EFE0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
  text-align: center;
}

.contactMine h2 {
  color: #1F77D0;
}

.contactFooterMine {
  margin-left: 1%;
}

.experienceMine {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #F3EFE0;
}

.experienceMine h2 {
  color: #1F77D0;
  text-align: center;
}

.experienceMine h3 {
  color: #1F77D0
}

.photoHeader {
  background: url("../img/HeaderWater.JPG") no-repeat center bottom;
  background-position: right center;
  background-size: cover !important;
  position: relative;
 
}

.photoHeader h1 {
  color: white;
  text-shadow: 1px 1px #D3D3D3;
}

.readingListMine {
  padding-top: 50px;
  padding-bottom: 50px;
}

.readingListMine h2 {
  color: #1F77D0;
  text-align: center;
}

.readingListMineDescription p {
  text-align: center;
}

.top-bar {
  background: #1F77D0;
}

nav.top-bar {
  text-align:center;
}
section.top-bar-section {
  display: inline-block;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #1F77D0;
  line-height: 2.8125rem;
  padding: 0 0.9375rem; 
}


.top-bar-section ul li > a {
  color: #FFFFFF;
  display: block;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.21875rem;
  font-weight: normal;
  padding-left: 0.9375rem;
  padding: 12px 0 12px 0.9375rem;
  text-transform: none;
  width: 100%; 
}


h1 {
  font-family: 'Sacramento', cursive;
}

h2, h3, h4, h5, h6, p, ul {
  font-family: 'Sorts Mill Goudy', serif;
}

.top-bar-section ul {
  list-style-type: none;
  padding:0;
  margin: 0;
}
